@import "tailwindcss";

:root {
  --primary: #000000; /* Black (Main background) */
  --secondary: #B8244B; /* Orange */
  --tertiary: #3B2F2F; /* Dark Brown (Accent stripe) */
  --fourth: #A8D0E6; /* Light Blue (Text background) */
}

.main-nav{
    @apply  fixed w-full z-20 top-0 start-0  border-gray-600
}
.resume-button{
    @apply text-white bg-[var(--secondary)] hover:bg-[var(--tertiary)] font-medium rounded-lg text-sm px-2 h-9 text-center
}
.menu-button{
    @apply inline-flex items-center
    p-2 w-10 h-10 justify-center
    text-sm text-gray-500 rounded-lg
    lg:hidden hover:bg-[var(--primary)] focus:outline-none
    mx-2
}

.ul-list{
    @apply flex flex-col p-4 md:p-0 mt-4 font-medium
    border border-[var(--tertiary)] rounded-lg
    bg-[var(--secondary)] lg:space-x-8 rtl:space-x-reverse
    lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent
}

.nav-link {
    @apply block py-1.5 px-5 text-white no-underline rounded-md;
  }
  
  .nav-link:hover, .nav-link:focus  {
    @apply text-red-950
  }

.selected {
    @apply bg-[var(--primary)] lg:text-black lg:bg-transparent my-1 md:mx-2 md:px-3 lg:m-0 lg:px-7 hover:text-white;
}


